@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700");
* {
    margin: 0;
    padding: 0;
    font-family: inherit;
    outline: none !important;
    list-style: none !important;
    text-decoration: none !important;
}

*:after,
*:before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: #393a3e;
    overflow: hidden;
    letter-spacing: 0.8px;
    background-color: #1a2a41;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    color: #393a3e;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

a:hover,
a:focus {
    color: #1b7fd6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    color: #1a2a47;
    font-weight: 600;
}

h1 {
    font-size: 70px;
}

h2 {
    font-size: 35px;
}

h3 {
    font-size: 26px;
}

h4 {
    font-size: 18px;
}

i,
em {
    font-style: normal;
}

img {
    max-width: 100%;
}

blockquote {
    position: relative;
    padding: 30px;
    background-color: #f0f1f5;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

blockquote span {
    display: block;
    font-size: 14px;
    margin-top: 20px;
}

blockquote span img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.page-background {
    position: absolute;
    width: 50px;
    height: 50px;
    left: calc(50% - 25px);
    bottom: calc(25% + 15px);
    background-color: #fff;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
}

.scale {
    opacity: 1;
    z-index: 12;
    -webkit-transform: scale(50);
    -ms-transform: scale(50);
    transform: scale(50);
}

.btn-st {
    position: relative;
    display: inline-block;
    top: 0;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    padding: 8px 22px;
    border: none;
    -webkit-border-radius: 30px;
    border-radius: 30px;
    background-color: #1a2a41;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
}

.btn-st:hover {
    color: #fff;
    top: -10px;
    -webkit-box-shadow: 0px 10px 15px rgba(26, 42, 65, .3);
    box-shadow: 0px 10px 15px rgba(26, 42, 65, .3);
    -webkit-transform: rotateX(25deg);
    -ms-transform: rotateX(25deg);
    transform: rotateX(25deg);
}

.btn-st:active {
    top: 0px;
    -webkit-box-shadow: 0px 0px 0px rgba(26, 42, 65, 0);
    box-shadow: 0px 0px 0px rgba(26, 42, 65, 0);
}

.btn-st:focus {
    color: #fff;
}

.mt-0 {
    margin-top: 0 !important;
}

.mt-5 {
    margin-top: 5px !important;
}

.mt-10 {
    margin-top: 10px !important;
}

.mt-15 {
    margin-top: 15px !important;
}

.mt-20 {
    margin-top: 20px !important;
}

.mt-25 {
    margin-top: 25px !important;
}

.mt-30 {
    margin-top: 30px !important;
}

.mt-35 {
    margin-top: 35px !important;
}

.mt-40 {
    margin-top: 40px !important;
}

.mt-45 {
    margin-top: 45px !important;
}

.mt-50 {
    margin-top: 50px !important;
}

.mt-55 {
    margin-top: 55px !important;
}

.mt-60 {
    margin-top: 60px !important;
}

.mt-65 {
    margin-top: 65px !important;
}

.mt-70 {
    margin-top: 70px !important;
}

.mt-75 {
    margin-top: 75px !important;
}

.mt-80 {
    margin-top: 80px !important;
}

.mt-85 {
    margin-top: 85px !important;
}

.mt-90 {
    margin-top: 90px !important;
}

.mt-95 {
    margin-top: 95px !important;
}

.mt-100 {
    margin-top: 100px !important;
}

.mb-0 {
    margin-bottom: 0 !important;
}

.mb-5 {
    margin-bottom: 5px !important;
}

.mb-10 {
    margin-bottom: 10px !important;
}

.mb-15 {
    margin-bottom: 15px !important;
}

.mb-20 {
    margin-bottom: 20px !important;
}

.mb-25 {
    margin-bottom: 25px !important;
}

.mb-30 {
    margin-bottom: 30px !important;
}

.mb-35 {
    margin-bottom: 35px !important;
}

.mb-40 {
    margin-bottom: 40px !important;
}

.mb-45 {
    margin-bottom: 45px !important;
}

.mb-50 {
    margin-bottom: 50px !important;
}

.mb-55 {
    margin-bottom: 55px !important;
}

.mb-60 {
    margin-bottom: 60px !important;
}

.mb-65 {
    margin-bottom: 65px !important;
}

.mb-70 {
    margin-bottom: 70px !important;
}

.mb-75 {
    margin-bottom: 75px !important;
}

.mb-80 {
    margin-bottom: 80px !important;
}

.mb-85 {
    margin-bottom: 85px !important;
}

.mb-90 {
    margin-bottom: 90px !important;
}

.mb-95 {
    margin-bottom: 95px !important;
}

.mb-100 {
    margin-bottom: 100px !important;
}

.m-0 {
    margin: 0px !important;
}

.pt-0 {
    padding-top: 0 !important;
}

.pt-5 {
    padding-top: 5px !important;
}

.pt-10 {
    padding-top: 10px !important;
}

.pt-15 {
    padding-top: 15px !important;
}

.pt-20 {
    padding-top: 20px !important;
}

.pt-25 {
    padding-top: 25px !important;
}

.pt-30 {
    padding-top: 30px !important;
}

.pt-35 {
    padding-top: 35px !important;
}

.pt-40 {
    padding-top: 40px !important;
}

.pt-45 {
    padding-top: 45px !important;
}

.pt-50 {
    padding-top: 50px !important;
}

.pt-55 {
    padding-top: 55px !important;
}

.pt-60 {
    padding-top: 60px !important;
}

.pt-65 {
    padding-top: 65px !important;
}

.pt-70 {
    padding-top: 70px !important;
}

.pt-75 {
    padding-top: 75px !important;
}

.pt-80 {
    padding-top: 80px !important;
}

.pt-85 {
    padding-top: 85px !important;
}

.pt-90 {
    padding-top: 90px !important;
}

.pt-95 {
    padding-top: 95px !important;
}

.pt-100 {
    padding-top: 100px !important;
}

.pb-0 {
    padding-bottom: 0 !important;
}

.pb-5 {
    padding-bottom: 5px !important;
}

.pb-10 {
    padding-bottom: 10px !important;
}

.pb-15 {
    padding-bottom: 15px !important;
}

.pb-20 {
    padding-bottom: 20px !important;
}

.pb-25 {
    padding-bottom: 25px !important;
}

.pb-30 {
    padding-bottom: 30px !important;
}

.pb-35 {
    padding-bottom: 35px !important;
}

.pb-40 {
    padding-bottom: 40px !important;
}

.pb-45 {
    padding-bottom: 45px !important;
}

.pb-50 {
    padding-bottom: 50px !important;
}

.pb-55 {
    padding-bottom: 55px !important;
}

.pb-60 {
    padding-bottom: 60px !important;
}

.pb-65 {
    padding-bottom: 65px !important;
}

.pb-70 {
    padding-bottom: 70px !important;
}

.pb-75 {
    padding-bottom: 75px !important;
}

.pb-80 {
    padding-bottom: 80px !important;
}

.pb-85 {
    padding-bottom: 85px !important;
}

.pb-90 {
    padding-bottom: 90px !important;
}

.pb-95 {
    padding-bottom: 95px !important;
}

.pb-100 {
    padding-bottom: 100px !important;
}

.p-0 {
    padding: 0 !important;
}

.section {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    overflow: auto;
    display: none;
    z-index: 50;
}

.section .header-page {
    text-align: center;
}

.section .header-page .icon-page {
    float: left;
    margin: 10px;
    color: #1a2a41;
    font-size: 25px;
}

.section .header-page h2 {
    position: relative;
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
}

.section .header-page h2:after {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    left: calc(50% - 5px);
    bottom: -15px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background-color: #1a2a41;
}

.section .header-page h2:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: -10px;
    background: transparent linear-gradient(to right, transparent, #1a2a41, transparent) repeat scroll 0 0;
}

.section .header-page .close-page {
    float: right;
    margin: 10px;
    cursor: pointer;
    color: #1a2a41;
    font-size: 30px;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
}

.section .header-page .close-page:hover {
    color: rgba(45, 45, 45, .7);
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
}

.section .header-box {
    text-align: center;
}

.section .header-box h3 {
    position: relative;
    display: inline-block;
    text-transform: uppercase;
}

.section .header-box h3:before {
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    left: calc(50% - 4px);
    bottom: -12px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background-color: #1a2a41;
}

.section .header-box h3:after {
    content: '';
    position: absolute;
    width: 6px;
    height: 6px;
    left: calc(50% - 3px);
    bottom: -11px;
    background-color: #1a2a41;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -webkit-animation: point-bounce 1.5s infinite;
    animation: point-bounce 1.5s infinite;
    z-index: -1;
}

.section .box {
    position: relative;
    padding: 30px;
    background-color: #f0f1f5;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.section .box:hover {
    -webkit-transform: translateY(-3px) scale(1.01);
    -ms-transform: translateY(-3px) scale(1.01);
    transform: translateY(-3px) scale(1.01);
}

.menu .but-menu,
.menu .menu-item {
    position: absolute;
    width: 70px;
    height: 70px;
    bottom: 25%;
    left: calc(50% - 40px);
    cursor: pointer;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background-color: #fff;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.menu .but-menu {
    width: 80px;
    height: 80px;
    z-index: 5;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
}

.menu .but-menu:after {
    content: '';
    position: absolute;
    top: 20px;
    left: 20px;
    width: 40px;
    height: 40px;
    background-color: #fff;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    z-index: -1;
    -webkit-animation: point-bounce 1.5s infinite;
    animation: point-bounce 1.5s infinite;
}

.menu .menu-item {
    width: 60px;
    height: 60px;
    margin: 10px;
}

.menu .but-menu .line {
    position: absolute;
    width: 28px;
    height: 4px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: #2d2d2d;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    transition: transform 0.3s ease, background 0.3s ease, opacity 0.3s ease, top 0.3s ease;
}

.menu .but-menu .line-top {
    top: -20px;
}

.menu .but-menu .line-bottom {
    top: 20px;
}

.menu .menu-toggle .line-top {
    top: 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.menu .menu-toggle .line-middle {
    opacity: 0;
}

.menu .menu-toggle .line-bottom {
    top: 0;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.menu .menu-item i {
    width: 60px;
    height: 60px;
    color: #1a2a41;
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0);
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.menu .but-menu:hover,
.menu .menu-item:hover {
    -webkit-box-shadow: 0 0 15px 0 #fff;
    box-shadow: 0 0 15px 0 #fff;
}

.menu-toggle {
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: bounce 1s ease-in-out;
    animation: bounce 1s ease-in-out;
}

.about-toggle {
    -webkit-transform: translate3d(0px, -85px, 0);
    -ms-transform: translate3d(0px, -85px, 0);
    transform: translate3d(0px, -85px, 0);
}

.resume-toggle {
    -webkit-transform: translate3d(85px, -30px, 0);
    -ms-transform: translate3d(85px, -30px, 0);
    transform: translate3d(85px, -30px, 0);
}

.portfolio-toggle {
    -webkit-transform: translate3d(60px, 65px, 0);
    -ms-transform: translate3d(60px, 65px, 0);
    transform: translate3d(60px, 65px, 0);
}

.blog-toggle {
    -webkit-transform: translate3d(-60px, 65px, 0);
    -ms-transform: translate3d(-60px, 65px, 0);
    transform: translate3d(-60px, 65px, 0);
}

.contact-toggle {
    -webkit-transform: translate3d(-85px, -30px, 0);
    -ms-transform: translate3d(-85px, -30px, 0);
    transform: translate3d(-85px, -30px, 0);
}

.menu .hide {
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.home {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}

.home:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: .75;
    background-color: #1a2a41;
}

.home .banner {
    position: absolute;
    width: 100%;
    top: 25%;
    color: #fff;
    text-align: center;
}

.home .banner h1 {
    color: #fff;
    margin-bottom: 15px;
}

.home .banner p {
    color: #fff;
    font-size: 30px;
}

.home .copy {
    position: absolute;
    bottom: 0;
    right: 20px;
    color: #fff;
    font-size: 12px;
    z-index: 1;
}

.addition-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: -1;
}

#video-container {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
}

.html-video-container {
    position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
    min-width: 100%;
    height: auto;
    min-height: 100%;
    background: #000;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 0;
}

#particles-js {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.about {
    background-color: #fff;
}

.about .info .photo img {
    -webkit-border-radius: 100%;
    border-radius: 100%;
}

.about .info .loc {
    font-size: 12px;
    color: #777;
    padding-top: 15px;
    padding-bottom: 15px;
}

.about .info p {
    font-size: 14px;
    line-height: 24px;
}

.about .video {
    margin: 32px 0;
}

.about .video img {
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

.about .video-play {
    position: absolute;
    width: 50px;
    height: 50px;
    top: calc(50% - 25px);
    left: calc(50% - 25px);
    background-color: #fff;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    z-index: 1;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.about .video-play:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -3px;
    margin-top: -7px;
    border-style: solid;
    border-color: transparent transparent transparent #1a2a41;
    border-width: 7px 0 7px 10px;
}

.about .video-play:after {
    content: '';
    position: absolute;
    width: 30px;
    height: 30px;
    top: 10px;
    left: 10px;
    background-color: #fff;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -webkit-animation: point-bounce 1.5s infinite;
    animation: point-bounce 1.5s infinite;
    z-index: -1;
}

.about .video-play:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

.about .favourites {
    text-align: center;
}

.about .favourites i {
    width: 65px;
    height: 65px;
    font-size: 25px;
    line-height: 65px;
    color: #1a2a41;
    background-color: #fff;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.about .favourites h4 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.about .price {
    text-align: center;
    margin-bottom: 40px;
}

.about .price .head-price:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    left: 0;
    background: transparent linear-gradient(to right, transparent, #2b2d2f, transparent) repeat scroll 0 0;
}

.about .price .head-price i {
    width: 70px;
    height: 70px;
    color: #1a2a41;
    font-size: 32px;
    background-color: #fff;
    line-height: 70px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.about .price .head-price h4 {
    font-size: 20px;
    padding-top: 25px;
    padding-bottom: 25px;
}

.about .price .body-price .price-plan .number {
    font-size: 22px;
    font-weight: 500;
}

.about .price .body-price .price-plan {
    padding: 25px 0;
}

.about .price .body-price .price-plan .currency {
    position: relative;
    bottom: 10px;
    font-size: 15px;
}

.about .price .body-price .price-plan .period {
    position: relative;
    bottom: 0;
    font-size: 14px;
}

.about .price .list-price ul li {
    padding-bottom: 10px;
}

.about .price .list-price ul li.disable {
    text-decoration: line-through !important;
}

.about .price .footer-price {
    padding-top: 15px;
}

.resume {
    background-color: #fff;
}

.resume .experience .item {
    padding-top: 15px;
    padding-left: 15px;
}

.resume .experience .bord-l {
    border-left: 1px solid #1a2a41;
}

.resume .experience .main p {
    color: #777;
    font-size: 12px;
}

.resume .experience .main p i {
    font-size: 13px;
    margin-right: 5px;
}

.resume .experience .main h4 {
    position: relative;
    line-height: 15px;
    margin-bottom: 15px;
}

.resume .experience .main h4:before {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    left: -23px;
    background-color: #fff;
    border: 2px solid #1a2a41;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    z-index: 1;
}

.resume .experience .main h4:after {
    content: '';
    position: absolute;
    width: 11px;
    height: 11px;
    top: 2px;
    left: -21px;
    background-color: #1a2a41;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -webkit-animation: point-bounce 2s infinite;
    animation: point-bounce 2s infinite;
}

.resume .experience .item:hover h4:before {
    background-color: #1a2a41;
}

.resume .skill-item {
    padding: 0 20px;
}

.resume .skill-item .progress-title {
    font-size: 17px;
    margin-bottom: 10px;
}

.resume .skill-item .progress {
    height: 8px;
    background-color: #fff;
    margin-bottom: 30px;
    overflow: visible;
}

.resume .skill-item .progress .progress-bar {
    position: relative;
    background-color: #1a2a41;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

.resume .skill-item .progress .progress-bar:after {
    content: '';
    position: absolute;
    top: -5px;
    right: 0px;
    padding: 6px;
    display: block;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    border: 3px solid #1a2a41;
}

.resume .skill-item .progress .progress-value {
    position: absolute;
    top: -30px;
    right: 0;
    color: #1a2a41;
    font-size: 14px;
    font-weight: 600;
}

.resume .work-process .ltr {
    text-align: right;
}

.resume .work-process .rtl {
    text-align: left;
}

.resume .work-process .wp-step {
    margin: 0;
    color: #777;
    font-size: 25px;
    line-height: 50px;
}

.resume .work-process h4 {
    font-weight: 700;
    margin-bottom: 15px;
}

.resume .work-process .single-wp+.single-wp {
    padding-top: 35px;
}

.resume .work-process .wp-circle {
    position: relative;
    width: 100%;
    padding: 80px 0;
    margin-top: 12px;
    text-align: center;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    border: 1px solid #fff;
}

.resume .work-process .wp-circle:before {
    content: '';
    position: absolute;
    width: calc(100% + 48px);
    height: calc(100% + 48px);
    top: -24px;
    left: -24px;
    border: 1px solid #fff;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.resume .work-process .wp-circle h4 {
    font-size: 40px;
    font-weight: 700;
    line-height: 62px;
    text-transform: uppercase;
}

.resume .work-process .dots {
    position: absolute;
    width: 12px;
    height: 12px;
    display: inline-block;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background-color: #1a2a41;
}

.resume .work-process .dots:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-color: #1a2a41;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -webkit-animation: point-bounce 2s infinite;
    animation: point-bounce 2s infinite;
}

.resume .work-process .dots.top-l,
.resume .work-process .dots.bottom-l {
    left: 0px;
}

.resume .work-process .dots.top-l,
.resume .work-process .dots.top-r {
    top: 45px;
}

.resume .work-process .dots.bottom-l,
.resume .work-process .dots.bottom-r {
    bottom: 45px;
}

.resume .work-process .dots.top-r,
.resume .work-process .dots.bottom-r {
    right: 0px;
}

.portfolio {
    background-color: #fff;
}

.portfolio .portfolio-filter {
    text-align: center;
}

.portfolio .portfolio-filter ul {
    display: inline-block;
    margin: 0;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(26, 42, 65, .1);
    box-shadow: 0px 0px 10px 0px rgba(26, 42, 65, .1);
}

.portfolio .portfolio-filter ul li {
    position: relative;
    display: inline-block;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    padding: 10px 25px;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.portfolio .portfolio-filter ul li.active {
    color: #fff;
    background-color: #1a2a41;
    -webkit-border-radius: 50px;
    border-radius: 50px;
}

.portfolio .portfolio-items .item figure {
    position: relative;
    cursor: pointer;
    background-color: #1a2a41;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    overflow: hidden;
}

.portfolio .portfolio-items .item figure img {
    opacity: 1;
    width: 100%;
    height: 100%;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.portfolio .portfolio-items .item figure figcaption {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    color: #fff;
}

.portfolio .portfolio-items .item figure figcaption a {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.portfolio .portfolio-items .item figure figcaption h3 {
    opacity: 0;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.portfolio .portfolio-items .item figure figcaption p {
    position: absolute;
    left: 0;
    bottom: 0;
    margin: 20px;
    font-size: 14px;
    padding-left: 15px;
    opacity: 0;
    -webkit-transform: translateX(-200%);
    -ms-transform: translateX(-200%);
    transform: translateX(-200%);
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.portfolio .portfolio-items .item figure figcaption p:before {
    content: "#";
    font-family: "Font Awesome 5 Free";
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
    font-weight: 900;
}

.portfolio .portfolio-items .item figure figcaption i {
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 20px;
    font-size: 24px;
    opacity: 0;
    -webkit-transform: translateX(200%);
    -ms-transform: translateX(200%);
    transform: translateX(200%);
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.portfolio .portfolio-items .item figure:hover img {
    opacity: 0.25;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.portfolio .portfolio-items .item figure:hover h3 {
    opacity: 1;
}

.portfolio .portfolio-items .item figure:hover p {
    opacity: 1;
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%);
}

.portfolio .portfolio-items .item figure:hover i {
    opacity: 1;
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%);
}

.blog .blog-item {
    position: relative;
    padding: 0 20px 20px;
    margin-bottom: 50px;
    background-color: #f0f1f5;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.blog .blog-item:hover {
    -webkit-transform: translateY(-3px) scale(1.01);
    -ms-transform: translateY(-3px) scale(1.01);
    transform: translateY(-3px) scale(1.01);
}

.blog .blog-item h4 {
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.blog .blog-item .thumbnail {
    overflow: hidden;
    margin: 0 -20px;
    -webkit-border-radius: 10px 10px 0 0;
    border-radius: 10px 10px 0 0;
}

.blog .blog-item .thumbnail img {
    width: 100%;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.blog .blog-item .thumbnail .date {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    color: #fff;
    font-size: 14px;
    padding: 10px 15px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: transparent linear-gradient(to top, transparent 10%, rgba(0, 0, 0, 0.6) 90%) repeat scroll 0 0;
    z-index: 10;
}

.blog .blog-item:hover .thumbnail img {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.blog .blog-item .meta {
    overflow: hidden;
    color: #777;
    font-size: 13px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.blog .blog-item .meta .aut {
    float: left;
}

.blog .blog-item .meta .cat {
    float: right;
}

.blog .blog-item .meta .cat i {
    margin: 0 5px;
    font-size: 12px;
}

.blog .blog-item .blog-btn {
    text-align: center;
    padding-top: 15px;
}

.blog .blog-item .blog-btn .btn-st {
    font-size: 16px;
    padding: 5px 15px;
}

.contact {
    background-color: #fff;
}

.contact .info-item {
    margin-top: 20px;
}

.contact .info-item .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    float: left;
    margin-right: 12px;
    color: #fff;
    font-size: 22px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background-color: #1a2a41;
}

.contact .info-item h4 {
    font-size: 17px;
    margin-bottom: 5px;
}

.contact #map {
    width: 100%;
    height: 300px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

.form-wrap {
    width: 100%;
    padding: 0 10px;
}

.form-wrap .input {
    display: block;
    width: 100%;
    height: 50px;
    font-size: 15px;
    font-weight: 300;
    padding: 0 25px 0 60px;
    margin-bottom: 15px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: 1px solid #e1e2e6;
    background-color: #f0f1f5;
}

.form-wrap .label-input {
    position: absolute;
    width: 55px;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #1a2a41;
    font-size: 18px;
}

.form-wrap .label-input.comment {
    height: 70px;
}

.form-wrap textarea.input {
    min-height: 170px;
    padding-top: 22px;
    padding-bottom: 15px;
}

.form-wrap .focus-input {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: 1px solid #1a2a41;
    visibility: hidden;
    opacity: 0;
    -webkit-transform: scaleX(1.1) scaleY(1.3);
    -ms-transform: scaleX(1.1) scaleY(1.3);
    transform: scaleX(1.1) scaleY(1.3);
    -webkit-transition: all 03s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.form-wrap .input:focus+.focus-input {
    visibility: visible;
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

.form-wrap .form-btn {
    margin-top: 30px;
    text-align: center;
}

.form-wrap .form-btn .btn-st {
    font-size: 18px;
}

.form-wrap .validate-input {
    position: relative;
}

.form-wrap .alert-validate::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border: 1px solid #fa4251;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    pointer-events: none;
}

.form-wrap .true-validate::after {
    content: "✔️";
    position: absolute;
    font-family: 'Font Awesome 5 Free';
    height: 100%;
    top: 15px;
    right: 20px;
    color: #02cc71;
    font-weight: 900;
    font-size: 12px;
}

.form-wrap .close-validate {
    position: absolute;
    height: 100%;
    top: 20px;
    right: 15px;
    color: #fa4251;
    font-size: 12px;
    cursor: pointer;
}

.blog-page {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: auto;
    background-color: #fff;
}

.blog-page a.close-blog {
    position: fixed;
    top: 30px;
    right: 70px;
    display: flex;
    font-size: 32px;
    background-color: #fff;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -webkit-box-shadow: 0 0 5px 3px #fff;
    box-shadow: 0 0 5px 3px #fff;
    color: #1a2a47;
    z-index: 10;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
}

.blog-page a.close-blog:hover {
    color: rgb(47, 47, 47, 0.7);
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
}

.blog-page .blog-image {
    background-size: cover;
    -webkit-background-size: cover;
    background-position: center;
}

.blog-image > img {
    width: 1920px;
}

.blog-page h3 {
    position: relative;
    text-align: center;
    margin: 80px 0 30px;
    text-transform: uppercase;
}

.blog-page h3:before {
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    left: calc(50% - 4px);
    bottom: -12px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background-color: #1a2a41;
}

.blog-page h3:after {
    content: '';
    position: absolute;
    width: 6px;
    height: 6px;
    left: calc(50% - 3px);
    bottom: -11px;
    background-color: #1a2a41;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -webkit-animation: point-bounce 1.5s infinite;
    animation: point-bounce 1.5s infinite;
    z-index: -1;
}

.blog-page .blog-container {
    max-width: 1040px;
    margin: 0 auto;
}

.blog-page .blog-heading {
    background-color: #fff;
    margin-top: -150px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    text-align: center;
    letter-spacing: .5px;
}

.blog-page .blog-heading h2 {
    font-size: 40px;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.blog-page .blog-heading i {
    font-size: 13px;
    margin: 0 5px 0 10px;
}

.blog-page .blog-heading span {
    color: #393a3e;
    font-size: 14px;
}

.blog-page .blog-heading span:after {
    content: '';
    margin-left: 10px;
    width: 5px;
    height: 5px;
    background-color: #1a2a47;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
}

.blog-page .blog-heading span:last-child:after {
    display: none;
}

.blog-page .blog-content p:first-child::first-letter {
    font-size: 40px;
    font-weight: 700;
    line-height: 1.2;
    float: left;
    text-transform: uppercase;
    padding-right: 15px;
}

.blog-page .blog-comments {
    margin: 0 40px;
}

.blog-page .blog-comments ul li {
    margin-bottom: 50px;
}

.blog-page .blog-comments ul li ul {
    padding: 20px 20px 0;
    background-color: #f0f1f5;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    margin-left: 60px;
    margin-top: 30px;
}

.blog-page .blog-comments ul .author-img {
    float: left;
    margin-right: 20px;
}

.blog-page .blog-comments ul li .author-img img {
    -webkit-border-radius: 50%;
    border-radius: 50%;
    max-width: 70px;
}

.blog-page .blog-comments ul li .comment-text {
    overflow: hidden;
}

.blog-page .blog-comments ul li .comment-text a {
    float: right;
    font-size: 11px;
    font-weight: 600;
    margin-right: 15px;
    padding: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background-color: #f0f1f5;
}

.blog-page .blog-comments ul li .comment-text a i {
    margin-right: 5px;
}

.blog-page .blog-comments ul li .comment-text h4 {
    font-weight: 600;
    margin-bottom: 5px;
}

.blog-page .blog-comments ul li .comment-text p {
    font-size: 15px;
}

.blog-page .blog-comments ul li .comment-text span {
    display: block;
    color: #666;
    font-size: 12px;
    font-weight: 300;
    margin-bottom: 15px;
}

div .overlay-box {
    height: 330px;
    width: 330px;
    border: 0.2rem solid black;
    border-radius: 0.5rem;
    margin: auto;
}

#preloader {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    cursor: none;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    z-index: 999;
}

#preloader .loading {
    position: absolute;
    z-index: 100;
}

#preloader .loading .circle {
    width: 80px;
    height: 80px;
    margin: 0 auto 50px auto;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    border: 3px solid rgba(0, 0, 0, 0.2);
    border-top-color: #1a2a41;
    -webkit-animation: spinner 1s infinite linear;
    animation: spinner 1s infinite linear;
}

#preloader .loading .text-loading {
    font: bold 50px 'Poppins', sans-serif;
    text-align: center;
    user-select: none;
}

#preloader .loading .text-loading .letters:before {
    content: attr(data-text-preloader);
    position: absolute;
    top: -1px;
    left: 0;
    color: #1a2a41;
    opacity: 0;
    -webkit-transform: rotateY(-90deg);
    -ms-transform: rotateY(-90deg);
    transform: rotateY(-90deg);
    -webkit-animation: letters-loading 4s infinite;
    animation: letters-loading 4s infinite;
}

#preloader .loading .text-loading .letters {
    position: relative;
    color: rgba(0, 0, 0, 0.2);
}

#preloader .loading .text-loading .letters:nth-child(2):before {
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
}

#preloader .loading .text-loading .letters:nth-child(3):before {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

#preloader .loading .text-loading .letters:nth-child(4):before {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}

#preloader .loading .text-loading .letters:nth-child(5):before {
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
}

#preloader .loading .text-loading .letters:nth-child(6):before {
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
}

#preloader .loading .text-loading .letters:nth-child(7):before {
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
}

#preloader .loading .text-loading .letters:nth-child(8):before {
    -webkit-animation-delay: 0.7s;
    animation-delay: 0.7s;
}

#preloader .loading .text-loading .letters:nth-child(9):before {
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
}

#preloader .loading .text-loading .letters:nth-child(10):before {
    -webkit-animation-delay: 0.9s;
    animation-delay: 0.9s;
}

#preloader .loading .text-loading .letters:nth-child(11):before {
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}

#preloader .loading .text-loading .letters:nth-child(12):before {
    -webkit-animation-delay: 1.1s;
    animation-delay: 1.1s;
}

[data-tooltip] {
    position: relative;
}

[data-tooltip]:after {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 99;
    -webkit-transition: transform .3s ease, opacity .3s;
    -moz-transition: transform .3s ease, opacity .3s;
    -o-transition: transform .3s ease, opacity .3s;
    transition: transform .3s ease, opacity .3s;
}

[data-tooltip]:after {
    content: attr(data-tooltip);
    font: normal 10px 'Poppins', sans-serif;
    background-color: #000;
    color: #fff;
    padding: 10px 15px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    white-space: nowrap;
    letter-spacing: 1px;
    text-transform: uppercase;
}

[data-tooltip]:hover:after {
    visibility: visible;
    opacity: 0.85;
    -webkit-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
}

[data-tooltip][data-position="top"]:after {
    bottom: 100%;
    margin-bottom: 10px;
    -webkit-transform: translateY(10px);
    -ms-transform: translateY(10px);
    transform: translateY(10px);
}

[data-tooltip][data-position="top"]:hover:after {
    -webkit-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
}

[data-tooltip][data-position="left"]:after {
    right: 100%;
    margin-right: 10px;
    -webkit-transform: translateX(0px);
    -ms-transform: translateX(0px);
    transform: translateX(0px);
}

[data-tooltip][data-position="left"]:hover:after {
    -webkit-transform: translateX(-10px);
    -ms-transform: translateX(-10px);
    transform: translateX(-10px);
}

[data-tooltip][data-position="right"]:after {
    left: 100%;
    margin-left: 10px;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
}

[data-tooltip][data-position="right"]:hover:after {
    -webkit-transform: translateX(10px);
    -ms-transform: translateX(10px);
    transform: translateX(10px);
}

[data-tooltip][data-position="bottom"]:after {
    top: 100%;
    left: -120%;
    margin-top: 10px;
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
}

[data-tooltip][data-position="bottom"]:hover:after {
    -webkit-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
}

::-webkit-scrollbar {
    width: 0.5rem;
}

::-webkit-scrollbar-thumb {
    background: #335380; 
}

::-webkit-scrollbar-thumb:hover {
    background: #2c476d; 
}

@media screen and (max-width: 991px) {
    .home .banner h1 {
        font-size: 60px;
    }
    .home .banner p {
        font-size: 25px;
    }
    .section .mob-box-mt {
        margin-top: 100px !important;
    }
    .about .info {
        margin-bottom: 100px;
    }
    .single-wp {
        padding: 30px !important;
    }
    .single-wp:nth-child(2n) {
        text-align: left;
        padding-right: 0 !important;
    }
    .single-wp.process-1,
    .single-wp.process-3 {
        border-right: 1px solid #1a2a41;
    }
    .single-wp.process-1,
    .single-wp.process-2 {
        border-bottom: 1px solid #1a2a41;
    }
    .single-wp:nth-child(2n+1) {
        text-align: right;
        padding-left: 0 !important;
    }
    .hidden-sm {
        display: none;
    }
    .width-sm {
        width: 50%;
        float: left;
    }
    .form-wrap {
        margin-bottom: 100px;
    }
    .blog-page a.close-blog {
        right: 30px;
    }
    .blog-page .blog-heading {
        margin-top: -100px;
    }
}

@media screen and (max-width: 768px) {
    .home .banner h1 {
        font-size: 50px;
    }
    .home .banner p {
        font-size: 20px;
    }
    .section .box {
        padding: 20px;
    }
    .section .mob-mt {
        margin-top: 130px !important;
    }
    .section .header-page {
        position: fixed;
        width: 100%;
        height: 60px;
        top: 0;
        left: 0;
        margin: 0 !important;
        padding: 8px 10px;
        background-color: #fff;
        -webkit-box-shadow: 0 1px 10px 0 rgba(26, 42, 65, .2);
        box-shadow: 0 1px 10px 0 rgba(26, 42, 65, .2);
        z-index: 99;
    }
    .section .header-page h2 {
        font-size: 32px;
        margin-top: 5px;
    }
    .section .header-page h2:after,
    .section .header-page h2:before {
        display: none;
    }
    .resume .skill-item {
        padding: 0;
    }
    .blog .blog-item .meta .cat {
        float: left;
    }
    .contact .info-item .icon {
        width: 35px;
        height: 35px;
        font-size: 17px;
    }
    .contact .info-item p {
        font-size: 13px;
    }
    .blog-page .blog-heading {
        margin-top: 0;
    }
}

@media screen and (max-width: 575px) {
    .home .banner h1 {
        font-size: 40px;
    }
    .home .banner p {
        font-size: 17px;
    }
    .home .copy {
        display: none;
    }
    .section .header-page h2 {
        font-size: 27px;
        margin-top: 5px;
    }
    .section .header-page .icon-page,
    .section .header-page .close-page {
        font-size: 24px;
        margin: 10px 5px;
    }
    .section .header-box h3 {
        font-size: 23px;
    }
    .about .info .photo img {
        display: block;
        width: 50%;
        margin: 0 auto 30px;
    }
    .portfolio .portfolio-filter ul {
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    .width-sm {
        width: 100%;
    }
    .single-wp.process-1,
    .single-wp.process-3 {
        border-bottom: none;
        border-right: 1px solid #1a2a41;
    }
    .single-wp.process-2,
    .single-wp.process-4 {
        border-bottom: none;
        border-left: 1px solid #1a2a41;
    }
    .blog .blog-item .meta .cat {
        float: right;
    }
    .blog-page a.close-blog {
        top: 10px;
        right: 10px;
        font-size: 25px
    }
    .blog-page .blog-heading h2 {
        font-size: 30px;
    }
    .blog-page .blog-heading span {
        font-size: 13px;
    }
    .blog-page .blog-comments,
    .blog-page .blog-comments ul li .comment-text a {
        margin: 0;
    }
    .blog-page .blog-comments ul li .comment-text p {
        font-size: 13px;
    }
    .blog-page .blog-comments ul li ul {
        margin-left: 30px;
    }
    #preloader .loading .circle {
        width: 60px;
        height: 60px;
    }
    #preloader .loading .text-loading {
        font: bold 35px 'Poppins', sans-serif;
    }
}

@media screen and (max-height: 575px) {
    .home .copy {
        display: none;
    }
    .menu .but-menu {
        width: 70px;
        height: 70px;
    }
    .menu .but-menu:after {
        display: none;
    }
    .menu .menu-item,
    .menu .menu-item i {
        width: 50px;
        height: 50px;
        font-size: 20px;
    }
    .about-toggle {
        -webkit-transform: translate3d(0px, -70px, 0);
        -ms-transform: translate3d(0px, -70px, 0);
        transform: translate3d(0px, -70px, 0);
    }
    .resume-toggle {
        -webkit-transform: translate3d(70px, -15px, 0);
        -ms-transform: translate3d(70px, -15px, 0);
        transform: translate3d(70px, -15px, 0);
    }
    .portfolio-toggle {
        -webkit-transform: translate3d(50px, 50px, 0);
        -ms-transform: translate3d(50px, 50px, 0);
        transform: translate3d(50px, 50px, 0);
    }
    .blog-toggle {
        -webkit-transform: translate3d(-50px, 50px, 0);
        -ms-transform: translate3d(-50px, 50px, 0);
        transform: translate3d(-50px, 50px, 0);
    }
    .contact-toggle {
        -webkit-transform: translate3d(-70px, -15px, 0);
        -ms-transform: translate3d(-70px, -15px, 0);
        transform: translate3d(-70px, -15px, 0);
    }
}

@media screen and (max-height: 425px) {
    .home .banner {
        top: 5%;
    }
    .menu .but-menu,
    .menu .menu-item {
        bottom: 15%
    }
    .page-background {
        bottom: calc(15% + 10px);
    }
}

@-webkit-keyframes bounce {
    10%,
    15% {
        -webkit-transform: scale(0.7);
        transform: scale(0.7);
    }
    30%,
    45% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
    60%,
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes bounce {
    10%,
    15% {
        -webkit-transform: scale(0.7);
        transform: scale(0.7);
    }
    30%,
    45% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
    60%,
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-webkit-keyframes point-bounce {
    0% {
        -webkit-transform: scale(0, 0);
        transform: scale(0, 0);
        opacity: 1
    }
    100% {
        -webkit-transform: scale(2.5, 2.5);
        transform: scale(2.5, 2.5);
        opacity: 0
    }
}

@keyframes point-bounce {
    0% {
        -webkit-transform: scale(0, 0);
        transform: scale(0, 0);
        opacity: 1
    }
    100% {
        -webkit-transform: scale(2.5, 2.5);
        transform: scale(2.5, 2.5);
        opacity: 0
    }
}

@-webkit-keyframes spinner {
    to {
        -webkit-transform: rotateZ(360deg);
        transform: rotateZ(360deg);
    }
}

@keyframes spinner {
    to {
        -webkit-transform: rotateZ(360deg);
        transform: rotateZ(360deg);
    }
}

@-webkit-keyframes letters-loading {
    0%,
    75%,
    100% {
        -webkit-transform: rotateY(-90deg);
        transform: rotateY(-90deg);
        opacity: 0;
    }
    25%,
    50% {
        -webkit-transform: rotateY(0deg);
        transform: rotateY(0deg);
        opacity: 1;
    }
}

@keyframes letters-loading {
    0%,
    75%,
    100% {
        -webkit-transform: rotateY(-90deg);
        transform: rotateY(-90deg);
        opacity: 0;
    }
    25%,
    50% {
        -webkit-transform: rotateY(0deg);
        transform: rotateY(0deg);
        opacity: 1;
    }
}
