* {
    font-family: "Roboto Mono", serif;
    background-color: #2c2f33 !important;
    color: white;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

img.grow {
    width: 12rem;
    height: 12rem;
}

.grow {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

a.grow {
    width: 4rem;
    height: 4rem;
    font-size: 2rem;
    margin: 0.5rem;
}

.grow:hover,
.grow:focus,
.grow:active {
    transform: scale(1.1);
}

.curv {
    border-radius: 50%;
    padding: 0.5rem;
    border: solid 0.04rem;
}
