<!DOCTYPE html>
<html lang="en">
    <head>
        <script
            async
            src="https://www.googletagmanager.com/gtag/js?id=UA-166892494-2"
        ></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() {
                dataLayer.push(arguments);
            }
            gtag("js", new Date());
            gtag("config", "UA-166892494-2");
        </script>
        <meta charset="utf-8" />
        <title><% preact.title %></title>
        <meta name="viewport" content="width=device-width,initial-scale=1" />
        <meta name="mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta
            name="keywords"
            content="baris, barış, demirci, barisdemirci, barbarbar338, personal, webpage"
        />
        <meta name="copyright" content="Barış DEMİRCİ" />
        <meta name="author" content="Barış DEMİRCİ" />
        <link
            rel="apple-touch-icon"
            href="/assets/icons/apple-touch-icon.png"
        />
        <% preact.headEnd %>
    </head>
    <body>
        <% preact.bodyEnd %>
    </body>
</html>
