@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

html,
body {
	font-family: "Poppins", sans-serif;
	scroll-behavior: smooth;
	@apply bg-white dark:bg-gray-900;
}

::-webkit-scrollbar {
	width: 0.5rem;
}

::-webkit-scrollbar-track {
	@apply bg-white dark:bg-gray-900;
}

::-webkit-scrollbar-thumb {
	@apply bg-purple-500;
}

::-webkit-scrollbar-thumb:hover {
	@apply bg-purple-600;
}
