@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&amp;display=swap");

html,
body {
	font-family: "DM Sans", sans-serif;
	scroll-behavior: smooth;
	@apply bg-white dark:bg-gray-900;
}

::-webkit-scrollbar {
	width: 0.5rem;
}

::-webkit-scrollbar-track {
	@apply bg-white dark:bg-gray-900;
}

::-webkit-scrollbar-thumb {
	@apply bg-pink-500;
}

::-webkit-scrollbar-thumb:hover {
	@apply bg-pink-600;
}
